{% extends "user/base.html" %}
{% block content %}

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>사용자 넘버</B></td>
            <td>{{object.user_no}}</td> 
        </tr>

        <tr>
            <td><B>이메일</B></td>
            <td>{{object.user_email}}</td>
        </tr>
        <tr>
            <td><B>위치</B></td>
            <td>{{object.user_location}}</td>
        </tr>
        <tr>
            <td><B>성별</B></td>
            <td>{{object.user_gender}}</td>
        </tr>
        <tr>
            <td><B>닉네임</B></td>
            <td>{{object.user_nickname}}</td>
        </tr>
        <tr>
            <td><B>생일</B></td>
            <td>{{object.user_birthdate}}</td>
        </tr>
        <tr>
            <td><B>생성날짜</B></td>
            <td>{{object.user_created}}</td>
        </tr>

        <tr>
            <td><B>신고당한횟수</B></td>
            <td>{{object.user_caution}}</td>
        </tr>
        <tr>
            <td><B>판매횟수</B></td>
            <td>{{object.user_sell_count}}</td>
        </tr>
        </thead>
        

    </table>
</div>

{% endblock %}
